<fieldset>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Add New Size</h3>
		</div>
		<div class="panel-body">
	    		<div class="row">
	    			<div class="col-md-4">
	    				<%= f.input :portion_size, collection: ['XXS','XS', 'S', 'M', 'L', 'XL', 'XXL'], prompt: 'Select Size' %>
	    			</div>
	    			<div class="col-md-4">
						<%= f.input :size_based_price, placeholder: "Add only numbers! Ex: 10" %>
	    			</div>
	    			<div class="col-md-4">
	    				<%= f.input :size_description, placeholder: "Ex: 12 Inch Pizza" %>
	    			</div>
	    		</div><!-- end row -->
	    	<div class="row">
	    		<div class="col-md-12">
	    			<label><input type="checkbox" id="cbshow"> Additional Menu Options</label>
	    		</div><!-- end col-md-12 -->
	    		<div class="col-md-12" id="divshow" style="display:none">
	    			Add modifiers heer
	    		</div>
 
	    	</div><!-- end row -->
		</div><!-- end panel body -->
		<div class="panel-footer">
	  		<%= f.hidden_field :_destroy %>
			<%= link_to "remove size", '#', class: "remove_fields btn btn-danger btn-xs" %>
		</div><!-- end panel footer -->
	</div><!-- end panel panel-default -->
</fieldset>