<%= simple_form_for(@location) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <div class="row">
      <div class="col-md-3">
        <%= f.input :name, autofocus: true, class: "form-control", placeholder: "Restaurant Name" %>
      </div><!-- end col-md-3 -->
      <div class="col-md-9">
        <%= f.input :about, class: "form-control", placeholder: "Write something about your restaurant" %>
      </div><!-- end col-md-9 -->
    </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <%= f.input :phone, class: "form-control", placeholder: "So your customers can call you" %>
        </div><!-- end col-md-4 -->
        <div class="col-md-4">
          <%= f.input :email, class: "form-control", placeholder: "So your customers can email you" %>
        </div><!-- end col-md-4 -->
        <div class="col-md-4">
          <%= f.input :printer_phone_number, class: "form-control", placeholder: "Where you will receive orders" %>
        </div><!-- end col-md-4 -->
    </div><!-- end row -->
  </div>
  <hr>
  <div class="form-group">
      <div class="row">
        <div class="col-md-4">
          <h5>What type of orders do you accept?</h5>
          <%= f.input :takeout, class: "form-control" %>
          <%= f.input :delivery, class: "form-control" %>
        </div><!-- end col-md-3 -->
        <div class="col-md-5">
          <h5>Choose Menu Categories:</h5>
          <%= f.collection_check_boxes :category_ids, current_merchant.categories, 
                        :id, :name,
                         { multiple: true } %>

        </div><!-- end col-md-6 -->
        <div class="col-md-3">
          <%= f.input :order_lead_time, class: "form-control", placeholder: "Enter in SECONDS!" %>
          <small>1 hour = 3600 seconds</small>
        </div>
    </div><!-- end row -->
    <hr>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :address, class: "form-control", placeholder: "Please enter full address! Ex: 301 Maude Road, Port Moody V3H5B1, BC" %>
      </div><!-- end col-md-6 -->
      <div class="col-md-6">
        <%= f.input :time_zone, class: "form-control", placeholder: "Choose Your Time Zone" %>
      </div><!-- end col-md-6 -->
    </div><!-- end row -->
    <div class="row">
      <div class="col-md-5">
          <%= f.input :location_hour_ids, label: "Choose Working Hours", :collection => current_merchant.location_hours %>

          <%# f.input :location_hour_id, current_merchant.location_hours, 
                        :id, :name,
                         { multiple: true } %>

        </div><!-- end col-md-6 -->
    </div>
  </div><!-- end form-group -->

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-success" %>
  </div>
<% end %>
