<!-- Modal -->
<div class="modal fade" id="hours" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Working hours</h4>
      </div>
      <div class="modal-body">
        <% @location_hours.each do |location_hour| %>
        <% rest_time_zone = @location.time_zone %>
        <%= rest_time_zone %>
          <%= location_hour.name %>
          <% location_hour.hours.each do |hour| %>
            <p><%= hour.day %></p>
            <p><%= hour.start_time.in_time_zone(rest_time_zone) %></p>
            <p><%= hour.end_time %></p>
            <p><%= hour.closed %></p>

            <% order_lead_time = @location.order_lead_time.to_i %>
            <h1><%= order_lead_time %></h1>
            <%= hour.start_time + order_lead_time %><br><br>
            <%= Time.now.in_time_zone(rest_time_zone) + order_lead_time %>

            <br>
            <br>
            <% current_users_time = Time.now.in_time_zone(rest_time_zone) + order_lead_time %>
            <% hours_start = hour.start_time.in_time_zone(rest_time_zone) %>
            <% hours_end = hour.end_time.in_time_zone(rest_time_zone) %>
            <% if current_users_time < hours_end %>
              <h1>Currently Open for Business</h1>
            <% end %>
            <br><br>
            <% today_is = Time.now.wday %>
            <% if today_is == hour.day %>
              <h1>MARKO</h1>
            <% end %>
            <br><br>
            <% case hour.day %>
            <% when 0 %>
              <p>Sunday</p>
            <% when 1 %>
              <p>Monday</p>
            <% when 2 %>
              <p>Tuesday</p>
            <% end %>

            

          <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>