<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#"><%= @location.name %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="tel:<%= @location.phone %>"><small>[Tap to Call]</small> <i class="fa fa-phone" aria-hidden="true"></i> <%= @location.phone %></a></li>
        <li><a href="mailto:<%= @location.email %>"><i class="fa fa-envelope-o" aria-hidden="true"></i> Email</a></li>
        <% if merchant_signed_in? %>
        	<li><%= link_to 'Back to Admin', locations_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu Categories <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% @location.categories.each do |c| %>
                <li><%= link_to c.name, c %></li>
            <% end %>    
          </ul>
        </li>

        <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>