
<%# render 'locations/navbar' %>

<script>
$( document ).ready(function() {
  // Resize map to show on a Bootstrap's modal
  $("#map").on("shown.bs.modal", function () {
    google.maps.event.trigger(map, "resize");
  });
});
</script>


<div class="container">

  <div class="row" style="margin-top: 7px;">
    <div class="col-md-6 col-md-offset-3 text-center">
      <div class="panel panel-default">
        <div class="panel-body">
          <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#hours">
            <i class="fa fa-clock-o" aria-hidden="true"></i> Hours
          </button>
          <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#map">
            <i class="fa fa-map-marker" aria-hidden="true"></i> Map
          </button>
          <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#contact">
            <i class="fa fa-phone" aria-hidden="true"></i> Contact
          </button>

        </div>
      </div>
    </div><!-- end col-md-3 -->
  </div><!-- end row -->

  <div class="row">
    <div class="col-md-8">
      <% @location.categories.each do |c| %>
        <div class="well well-sm text-center">
          <h3><%= c.name %></h3>
        </div>
        <ul>
        <% c.products.each do |p| %>
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-6">
                  <h4><%= p.name %></h4>
                  <p><%= p.description %></p>
                </div><!-- end col-md-6 -->
                <div class="col-md-6">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#<%= p.id %>">
                    <i class="fa fa-cutlery" aria-hidden="true"></i> Details
                  </button>
                </div><!-- end col-md-6 -->
              </div><!-- end row -->
              
            </li>
          </ul>
          <!-- Product Details Modal -->
          <div class="modal fade" id="<%= p.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel"><%= p.name %></h4>
                </div>
                <div class="modal-body">
                  <h5><%= p.description %></h5>
                  <hr>
                  <div class="row">
                  <% p.sizes.each do |s| %>
                    <div class="col-md-3">
                      <p><%= s.size_description %>: <%= number_to_currency(s.size_based_price) %></p>
                    </div><!-- end col-md-3 -->
                  <% end %>
                  </div><!-- end row -->
                  <hr>
                  <div class="row">
                    <div class="col-md-12">
                      <h5>Notes</h5>
                      <p><%= p.notes %></p>
                    </div><!-- end col-md-12 -->
                  </div><!-- end row -->
                </div><!-- end modal-body -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </ul>
      <% end %>
    </div><!-- end col-md-8 -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Cart</h3>
        </div>
        <div class="panel-body">
          <p>Your cart is currently empty</p>
        </div>
      </div>
    </div><!-- end col-md-3 -->
  </div><!-- end row -->
</div><!-- end container -->

<%= render 'locations/hours' %>
<%= render 'locations/map' %>
<%= render 'locations/contact_info' %>