<%= render 'locations/navbar' %>

<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>Welcome to <%= @location.name %>!</h1>
      <p><%= @location.about %></p>
    </div>
  </div><!-- end row -->

  <div class="row" style="margin-top: 30px;">
    <% @location.categories.each do |c| %>
      <% c.products.each do |p| %>
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= p.name %></h3>
            </div>
            <div class="panel-body">
              <p><%= p.description %></p>
              <p>Price: <%= number_to_currency(p.price) %></p>
            </div>
          </div>
        </div><!-- end col-md-3 -->
      <% end %>
    <% end %>
  </div><!-- end row -->
</div><!-- end container -->